<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link
      href="https://hackerinnen.space/fontawesome/css/all.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://hackerinnen.space/scss/main.css"
      media="screen"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="https://hackerinnen.space/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://hackerinnen.space/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="https://hackerinnen.space/favicon/favicon-16x16.png"
    />
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#00d1b2">
    <meta name="msapplication-TileColor" content="#00d1b2">
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <header>
      <nav class="navbar hero-bg" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://hackerinnen.space" target="_blank">
            <svg width="108" height="109" viewBox="0 0 108 109" xmlns="http://www.w3.org/2000/svg">
              <path d="M76.87 41.81a4.197 4.197.0 01-4.19 4.198 4.2 4.2.0 01-4.2-4.198V29.216a4.196 4.196.0 018.39.0V41.81zm0 37.78a4.197 4.197.0 01-4.19 4.198 4.2 4.2.0 01-4.2-4.198V58.601h-8.4a4.198 4.198.0 110-8.396h12.6c2.31.0 4.19 1.88 4.19 4.199V79.59zM47.49 58.601a4.198 4.198.0 110-8.396 4.198 4.198.0 010 8.396zm-8.4-4.197a4.196 4.196.0 01-8.39.0V29.216a4.196 4.196.0 118.39.0v25.188zm0 25.186a4.2 4.2.0 01-4.2 4.198c-2.31.0-4.19-1.88-4.19-4.198V66.996a4.196 4.196.0 118.39.0V79.59zM53.79.743C24.15.743.13 24.768.13 54.404c0 29.634 24.02 53.659 53.66 53.659 29.63.0 53.66-24.025 53.66-53.659C107.45 24.768 83.42.743 53.79.743z" fill-rule="evenodd"></path>
            </svg>
          </a>
        </div>
        <div id="navMenu" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="https://hackerinnen.space" target="_blank">Hackerinnen.space</a>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <section class="section">
        <div class="container">
          <% if (typeof success != "undefined") { %>
          <div class="notification is-primary">
            <button class="delete" type="button"></button>
            <b>
              <%= success %>
              <a href="<%= url %>" target="_blank"><%= url %></a>
            </b>
          </div>
          <% } %> <% if (typeof error != "undefined") { %>
          <div class="notification is-primary is-danger">
            <button class="delete" type="button"></button>
            <b><%= error %></b>
          </div>
          <% } %>
          <div class="content is-medium">
            <h1 class="title is-size-4"><%= title %></h1>
            <p>
              You can either add your profile to the
              <a href="https://hackerinnen.space" target="_blank"
                >hackerinnen website</a
              >
              by following the instructions on
              <a
                target="_blank"
                href="https://github.com/hackerinnen/hackerinnen#how-to-show-yourself"
                >Github</a
              >
              or by filling out the form below. Submitting the form will open a
              Pull Request on Github for you to review later.
            </p>
          </div>

          <form
            id="submitProfileForm"
            action="/"
            method="post"
            enctype="multipart/form-data"
          >
            <div class="notification is-primary">
              <b>Please, save your changes!</b>
              <br />
              Make sure you save your answers (outside of this website), before
              submitting in case something goes wrong.
            </div>

            <br /><br />

            <div class="field">
              <label class="label">Full name*</label>
              <div class="control">
                <input
                  name="fullname"
                  class="input"
                  type="text"
                  placeholder="Please enter your name"
                  value="<%= fullname %>"
                  maxlength="50"
                  required
                />
              </div>
            </div>

            <div class="field">
              <label class="label">E-Mail*</label>
              <p class="note">
                Just in case we need to contact you, but won't be included in
                the profile.
              </p>
              <div class="control">
                <input
                  name="email"
                  class="input"
                  type="text"
                  placeholder="Please enter your email"
                  value="<%= email %>"
                  maxlength="50"
                />
              </div>
            </div>

            <div class="field">
              <label class="label">Image</label>
              <div class="file has-name">
                <label class="file-label">
                  <input
                    class="file-input"
                    type="file"
                    id="file"
                    name="image"
                    size="5"
                    accept="image/jpeg"
                  />
                  <span class="file-cta">
                    <span class="file-label">
                      Choose a .jpg file (2 Mb max)
                    </span>
                  </span>
                  <span class="file-name" id="filename">no file selected</span>
                </label>
              </div>
            </div>

            <br /><br />

            <div class="columns">
              <div class="column is-two-thirds-desktop">
                <div class="content is-small">
                  <p>* Required fields</p>
                  <p>
                    Please answer the questions in the text area below. If you
                    don't want to answer a question feel free to remove it.
                    Please provide the translations in English and German (for
                    example by using
                    <a target="_blank" href="https://www.deepl.com/translator"
                      >DeepL</a
                    >).
                    <br />
                    <br />
                    The <code>---</code> in the first section are used to define
                    metadata for
                    <a target="_blank" href="https://gohugo.io/">hugo</a> and
                    need to stay as they are. Please only update the right-hand
                    side of the listed key/value pairs. You can remove lines
                    that you don't need.
                    <br />
                  </p>
                </div>
              </div>
            </div>

            <div class="columns">
              <div class="column">
                <div class="editor">
                  <h2>
                    <b>Questionnaire in English*</b>
                    <a id="en" class="reset-link">Reset form</a>
                  </h2>
                  <textarea
                    rows="5"
                    cols="100"
                    name="markdown_en"
                    id="markdown_en"
                  ></textarea>
                </div>
              </div>
              <div class="column">
                <div class="editor">
                  <h2>
                    <b>Questionnaire in German*</b>
                    <a id="de" class="reset-link">Reset form</a>
                  </h2>
                  <textarea
                    rows="5"
                    cols="100"
                    name="markdown_de"
                    id="markdown_de"
                  ></textarea>
                </div>
              </div>
            </div>

            <div class="content is-medium">
              <p>
                <b>Ready to submit?</b><br />
                No worries, your page will not go live immediately.<br />
                Once your profile was submitted we will provide you with the
                link to the pull request. If you look at the pull request,
                scroll down to the "checks" section you will see a line saying
                "netlify/hackerinnen/deploy-preview — Deploy preview ready!". If
                you click on "Details" it will bring you to the staging
                environment were you can preview the page and make sure
                everything looks good. It is also possible to close the pull
                request and create a new one.
              </p>
              <p>
                <a
                  href="https://github.com/hackerinnen/hackerinnen#contact"
                  target="_blank"
                  >Let us know</a
                >
                if you have any questions.
              </p>
              <br />
            </div>

            <div class="field is-grouped is-grouped-centered">
              <p class="control">
                <button
                  type="button"
                  class="button is-primary is-large g-recaptcha"
                  data-sitekey="<%= recaptchaKey %>"
                  data-callback="onSubmit"
                  data-size="invisible"
                >
                  I'm ready to submit
                </button>
              </p>
              <br /><br /><br />
              <br /><br /><br />
            </div>
          </form>
        </div>
      </section>
    </main>

    <script
      src="https://www.google.com/recaptcha/api.js"
      nonce="<%= nonce %>"
      async
      defer
    ></script>
    <script
      src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"
      nonce="<%= nonce %>"
    ></script>
    <script src="/javascripts/initialMarkdown.js" nonce="<%= nonce %>"></script>
    <script nonce="<%= nonce %>">
      var md_de = new SimpleMDE({
        element: document.getElementById('markdown_de'),
        toolbar: false,
        spellChecker: false,
        codeSyntaxHighlighting: false,
        autosave: {
          enabled: true,
          uniqueId: 'germanProfile',
          delay: 500,
        },
      });
      if (md_de.value() === '') {
        var submittedData = `<%= markdown_de %>`;
        if (submittedData.length !== 0) {
          md_de.value(submittedData);
        } else {
          md_de.value(initialMarkdown_de);
        }
      }

      var md_en = new SimpleMDE({
        element: document.getElementById('markdown_en'),
        toolbar: false,
        spellChecker: false,
        codeSyntaxHighlighting: false,
        autosave: {
          enabled: true,
          uniqueId: 'englishProfile',
          delay: 1000,
        },
      });
      if (md_en.value() === '') {
        var submittedData = `<%= markdown_en %>`;
        if (submittedData.length !== 0) {
          md_en.value(submittedData);
        } else {
          md_en.value(initialMarkdown_en);
        }
      }

      function onSubmit(token) {
        var button = document.getElementsByTagName('button');
        button[0].disabled = true;
        document.getElementById('submitProfileForm').submit();
      }

      function resetForm(lang) {
        if (lang === 'en') {
          md_en.clearAutosavedValue();
          md_en.value(initialMarkdown_en);
        }

        if (lang === 'de') {
          md_de.clearAutosavedValue();
          md_de.value(initialMarkdown_de);
        }
      }

      document.querySelector('#en.reset-link').addEventListener('click', () => {
        resetForm('en');
      });

      document.querySelector('#de.reset-link').addEventListener('click', () => {
        resetForm('de');
      });

      document.addEventListener('DOMContentLoaded', () => {
        (document.querySelectorAll('.notification .delete') || []).forEach(
          $delete => {
            $notification = $delete.parentNode;
            $delete.addEventListener('click', () => {
              $notification.parentNode.removeChild($notification);
            });
          }
        );

        var file = document.getElementById('file');
        file.onchange = function() {
          if (file.files.length > 0) {
            document.getElementById('filename').innerHTML = file.files[0].name;
          }
        };
      });
    </script>
  </body>
</html>
